    @charset "UTF-8";
    @font-face {
        font-family: 'orotundheavy';
        src: url('../fonts/Orotund-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }
    
    @font-face {
        font-family: 'plainblackwidenormal';
        src: url('../fonts/Plain_Black_Wide-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }
    
    #content {
        max-width: 500px;
        margin: auto;
        margin-top: 20px;
        background-image: url("../images/stonewallsponge4.jpg");
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
    }
    
    #heading {
        position: relative;
        text-align: center;
    }
    
    #banner {
        width: 100%;
        padding-top: 3px;
    }
    
    #heading>span {
        font-size: 36px;
        font-family: 'plainblackwidenormal';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        padding-top: 15px;
    }
    
    #boardContainer {
        position: relative;
        height: 400px;
        background-image: url("../images/board4.jpg");
        border-style: solid;
        border-width: 10px;
        border-color: #534848;
        border-radius: 5px;
        margin: 4px;
        display: block;
    }
    
    #titleScreen,
    #quitScreen,
    #winScreen {
        position: absolute;
        text-align: center;
        padding: 0px;
        font-family: 'orotundheavy';
        font-size: 36px;
        top: 90px;
        display: none;
        z-index: 3;
        width: 100%;
        text-shadow: 0px 0px 10px linen;
    }
    
    #status,
    #rules {
        position: absolute;
        text-align: center;
        padding: 0px;
        font-family: 'orotundheavy';
        font-size: 36px;
        top: 0px;
        z-index: 2;
        width: 100%;
        text-shadow: 0px 0px 10px linen;
    }
    
    #status {
        height: 66%;
    }
    
    .explain {
        font-size: 18px;
        font-family: 'Dosis', sans-serif;
        text-shadow: 0px 0px 5px linen;
    }
    
    #statusmsg {
        position: absolute;
        font-family: 'orotundheavy';
        font-size: 42px;
        margin: 0;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
    }
    
    #statusmsg {
        transition: 0.2s;
    }
    
    #board {
        top: 0px;
        height: auto;
        z-index: 1;
    }
    
    .spacer {
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        padding-top: 10px;
    }
    
    #menuStatus {
        position: absolute;
        width: 100%;
        height: auto;
        bottom: 0px;
        z-index: 1;
        padding: 15px;
    }
    
    #playableBoard {
        position: absolute;
        width: 100%;
        height: auto;
        bottom: 180px;
        top: 0px;
        z-index: 1;
    }
    
    #playButtons {
        padding-top: 3px;
    }
    
    #help {
        width: 48%;
        float: left;
    }
    
    #quit {
        width: 48%;
        float: right;
    }
    
    #playButtons>*,
    #titleButtons>button,
    #quitButtons>button,
    #winButtons>button {
        font-family: 'orotundheavy';
        font-size: 18px;
        padding: 2px;
    }
    
    #p1name,
    #p2name {
        font-family: 'orotundheavy';
        font-size: 24px;
        display: table;
        margin: 0 auto;
    }
    
    #p1table,
    #p2table {
        font-family: 'Dosis', sans-serif;
        font-size: 14px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        padding-top: 10px;
    }
    
    .selected {
        color: linen;
    }
    
    .notSelected {
        color: linen;
    }
    
    .banked {
        color: silver;
    }
    
    .die {
        transition: 0.5s;
    }
    
    .die>i {
        font-size: 44px;
        transition: 0.5s;
    }
    
    .blurred {
        filter: blur(3px) opacity(0.8);
    }
    
    #p1Selected,
    #p1Total,
    #p1Round,
    #p2Selected,
    #p2Total,
    #p2Round,
    .goalScore,
    .divider {
        float: right;
    }
    
    #p1table {
        background-image: url(../images/paper1.jpg);
    }
    
    #p2table {
        background-image: url(../images/paper2.jpg);
    }
    
    .simple-highlight {
        text-shadow: 0px 0px 10px yellow;
    }
    
    .fa-circle {
        transform: scale(1.6);
        color: rgba(255, 166, 0, 0.4);
    }
    
    .fa-square {
        color: dimgray;
    }
    
    .deactivated {
        pointer-events: none;
    }
    
    .activated {
        pointer-events: auto;
    }
    
    #rules>.row>.col-12 {
        padding: 0px;
        padding-right: 20px;
    }