@charset "UTF-8";

/**
 * Description
 * @authors Your Name (you@example.org)
 * @date    2021-06-25 09:32:20
 * @version 1.0.0
 */

#container {
    max-width: 500px;
    margin: auto;
    background-color: silver;
    padding: 20px;
}

#heading,
#status {
    text-align: center;
    font-family: 'Germania One', cursive;
    padding: 0px;
}

#board {
    /* background-image: url("board.jpg"); */
    padding: 20px;
    margin: auto;
}


/* #menu {
    padding: 0px;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
} */

#menuStatus {
    padding: 10px;
}

.selected {
    color: palegoldenrod;
}

.notSelected {
    color: linen;
}

.banked {
    color: gray;
}

.die {
    font-size: 48px;
    padding: 20px;
}

#p1Selected,
#p1Total,
#p1Round {
    float: right;
}

.bottom {
    float: bottom;
}